@page "/portal"
@attribute [Authorize]
@attribute [StreamRendering]
@using Leus.Application.Features.Catalog.Queries
@using LeUs.Application.Features.Data.Queries
@* @rendermode @(new InteractiveServerRenderMode(prerender:false)) *@
@inject IRoleService RoleService
<SectionContent SectionName="@NavConstants.TopLeft">
    <Breadcrumb Slash="true"></Breadcrumb>
    <Breadcrumb TextMuted="true">Dashboard</Breadcrumb>
</SectionContent>
<SectionContent SectionName="@NavConstants.TopRight">
    <div class="d-flex flex-row-auto">
        <input @bind="DateRange" class="form-control form-control-sm w-200px mx-2" placeholder="Pick date range"
               id="RangeDate"/>
        <button class="btn btn-sm btn-primary w-100" @onclick="GetData">View Report</button>

    </div>
</SectionContent>
@if (IsLoading)
{
    <LoadingRotate/>
}
<div class="row g-5 gx-xl-10 mb-5 mb-xl-10 bg-light-primary">
    <div class="row my-3">
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">$</span>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_balanceDto?.Amount.ToString("N2")</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Balance</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">$</span>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_balanceDto?.DepositAmount.ToString("N2")</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Deposit</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">$</span>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Where(w => w.Status == 2).Sum(s => s.TotalAmount).ToString("N2")</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Total Amount</span>
                </div>
            </div>
        </div>
        <AuthorizeView Roles="@RoleConstants.AccountingRole">
            <div class="col-12 col-md-6 col-xxl d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">$</span>
                            <span
                                class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Where(w => w.Status == 2).Sum(s => s.Profit).ToString("N2")</span>
                        </div>
                        <span class="text-gray-500 pt-1 fw-semibold fs-6">Profit</span>
                    </div>
                </div>
            </div>
        </AuthorizeView>
    </div>
    <div class="row my-3">
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="me-1 align-self-start ki-duotone ki-abstract-29 text-info fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Sum(s => s.ActiveNo + s.DeActiveNo)</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Shipments</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="me-1 align-self-start ki-duotone ki-abstract-29 text-info fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Where(w => w.Status == 0).Sum(s => s.ActiveNo)</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">No Labels</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="me-1 align-self-start ki-duotone ki-abstract-29 text-info fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Sum(s => s.GenerateLabelNo)</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Labels</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="me-1 align-self-start ki-duotone ki-eraser text-danger fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <span
                            class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@_items?.Sum(s => s.CancelLabelNo)</span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Cancel Labels</span>
                </div>
            </div>
        </div>
    </div>

</div>
@if (!IsLoading)
{
    <div class="row mb-6">
        <div class="col-md-12 mb-6">
            <div class="card card-flush overflow-hidden h-md-100">
                <div class="card-header py-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Statistics</span>
                    </h3>
                </div>
                <div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
                    <div id="charts_1" class="min-h-auto ps-4 pe-6" style="height: 500px"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card card-flush overflow-hidden h-md-100">
                <div class="card-header py-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Statistics Labels</span>
                    </h3>
                </div>
                <div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
                    <div id="charts_2" class="min-h-auto ps-4 pe-6" style="height: 400px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-flush overflow-hidden h-md-100">
                <div class="card-header py-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Statistics Zone</span>
                    </h3>
                </div>
                <div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
                    <div id="charts_3" class="min-h-auto ps-4 pe-6" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-hover table-rounded table-striped border gy-7 gs-7" id="@UiConstants.TableId">
                <thead>
                <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                    <th>Date</th>
                    @if (isAcc)
                    {
                        <th class="min-w-200px">Agent</th>
                    }
                    <th>Service Code</th>
                    <th>Total Amount</th>
                    <AuthorizeView Roles="@RoleConstants.AccountingRole">
                        <th>Cost</th>
                        <th>Profit</th>
                    </AuthorizeView>
                    <th>Created</th>
                    <th>Void</th>
                </tr>
                </thead>
                <tbody>
                @if (_activeItems is { Count: > 0 })
                {
                    var tmpItem = _activeItems.GroupBy(g => new { g.TransDate, g.CustomerId, g.ServiceCode })
                        .Select(s => new SumShipmentResponse()
                        {
                            CustomerId = s.Key.CustomerId,
                            TransDate = s.Key.TransDate,
                            ServiceCode = s.Key.ServiceCode,
                            Amount = s.Sum(sm=>sm.TotalAmount *(sm.Status == 3 ? 0 : 1)),
                            Cost = s.Sum(sm=>sm.Cost *(sm.Status == 2 ? 1 : 0)),
                            GenerateLabelNo = s.Sum(sm=>sm.GenerateLabelNo),
                            CancelLabelNo = s.Sum(sm=>sm.CancelLabelNo),
                        }).OrderByDescending(o=>o.TransDate).ToList();
                    foreach (var item in tmpItem)
                    {
                        <tr>
                            <td>@item.TransDate.ToDmy()</td>
                            @if (isAcc)
                            {
                                <td>@_customers.FirstOrDefault(w => w.Id.ToString() == item.CustomerId)?.Name</td>
                            }
                            <td>@item.ServiceCode</td>
                            <td>@item.TotalAmount.ToString("N2")</td>
                            <AuthorizeView Roles="@RoleConstants.AccountingRole">
                                <td>@item.Cost.ToString("N2")</td>
                                <td>@item.Profit.ToString("N2")</td>
                            </AuthorizeView>
                            <td>@item.GenerateLabelNo</td>
                            <td>@item.CancelLabelNo</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    [CascadingParameter] private UserInfo? ShareUserInfo { get; set; }
    private List<CCustomerDto> _customers = [];
    private UserBalanceDto? _balanceDto = new();
    private bool isAcc = false;

    private GetReportRequest _request = new()
    {
    };

    private List<SumShipmentResponse>? _items = [];
    private List<SumShipmentResponse>? _activeItems = [];
    private bool _initChart = false;

    protected override void OnInitialized()
    {
        DateRange = "".InitDateRange(iEnd: -6);
        IsLoading = true;
        _request.UserId = $"{ShareUserInfo?.UserId}";
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CallInitRangeDate();
            if (ShareUserInfo?.Role is { Count: > 0 })
            {
                if (ShareUserInfo.Role.Contains(RoleConstants.AccountingRole))
                {
                    _request.UserId = string.Empty;
                    isAcc = true;
                    _customers = await Mediator.Send(new GetAllCustomerQuery());
                }
            }

            _balanceDto = await Mediator.Send(new GetBalanceByUserQuery()
            {
                UserId = _request.UserId
            });
            await GetData();
        }

        if (_initChart)
        {
            _initChart = false;
            if (_activeItems is { Count: > 0 })
            {
                _activeItems = _activeItems.OrderBy(o => o.TransDate).ToList();
                var tmpStack = _activeItems.GroupBy(g => g.TransDate).Select(s => new
                {
                    d = s.Key.ToDdMmm(),
                    td = s.Key,
                    a = s.Sum(sm=>sm.TotalAmount *(sm.Status == 2 ? 1 : 0)),
                    g = s.Sum(sm => sm.GenerateLabelNo),
                    c = s.Sum(sm => sm.CancelLabelNo),
                }).ToList();
                var tmpZone = _activeItems.GroupBy(g => g.State).Select(s => new
                {
                    id = $"US-{s.Key}",
                    value = s.Sum(sm => sm.GenerateLabelNo)
                }).ToList();
                await CallJs("initChartMix", "charts_1", tmpStack);
                await CallJs("initChartStack", "charts_2", tmpStack);
                await CallJs("initChartZone", "charts_3", tmpZone);
            }
        }

        if (InitDataTable)
        {
            InitDataTable = false;
            await CallInitialDataTableNoOrder(UiConstants.TableId);
        }
    }

    private async Task GetData()
    {
        _request.DateRange = DateRange;
        IsLoading = true;
        StateHasChanged();
        _items = await Mediator.Send(new GetSumShipmentByUserQuery()
        {
            Input = _request
        });
        _activeItems = _items.Where(w => w.Status is 2 or 3).ToList();
        IsLoading = false;
        InitDataTable = true;
        _initChart = true;
        StateHasChanged();
    }

}